/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 


* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		
	}

body {
	background: #fff no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

.borda {
    padding:3px;
}

.espaco
{
    margin-bottom:15px;

}

.formulario {
	color: #5d5d5d;
	background: #f2f2f2;
    width:420px;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;    
}

.botaoVoltar
{
    display:block; 
    margin-left:-16px;
    padding: 5px 10px;
    text-decoration:none;
}

.botaoSalvar
{
    display:block; 
    margin-left:12px;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration:none;
}

.botaoVoltar2 {
    display: block;
    margin-left: -15px;
    padding: 5px 10px;
    text-decoration: none;
}

.botaoSalvar2 {
    display: block;
    margin-left: 17px;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
}

.botaoFinalizar
{
    display:block; 
    margin-left:1px;
    padding: 5px 10px;
    text-decoration:none;
    margin-right:20px;
}

.botaoAtualizar {
    background-color: #563d7c;
    border-color: #563d7c;
}


.botaoAtualizar:hover, .botaoAtualizar:focus, .botaoAtualizar:active, .botaoAtualizar.active {
    color: #fff;
    background-color: #391e63;
    border-color: #391e63; /*set the color you want here*/
}

.botaoAdicional {
    background-color: #fbbc05;
    border-color: #fbbc05;
}


    .botaoAdicional:hover, .botaoAdicional:focus, .botaoAdicional:active, .botaoAdicional.active {
        color: #fff;
        background-color: #fcb304;
        border-color: #fcb304; /*set the color you want here*/
    }

.cbxCliente {
    padding:20px;
    font-size:16px;
}

.cblEspaco label {
    margin-left: 4px;
}

.cblEspaco input[type="checkbox"] {
    margin-top: 2px;
}


.cbxCliente > input {
    padding:4px;
    margin-right:7px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.completionList {
border:solid 1px #444444;
margin:0px;
padding:2px;
height: 100px;
overflow:auto;
background-color: #FFFFFF;
font-size:18px;
border-bottom:solid 1px #000; 
font-weight:bold;
}

.listItem {
color: #1C1C1C;
}

.itemHighlighted {
    background-color: #dbe5fc;
    cursor:pointer;
}
.semUnderline {
    text-decoration:none;
}

.form-group input[type="checkbox"] {
    display: none;

}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
    padding:4px;


}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;  
    padding:4px;

     
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    padding:7px;


}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.tamanhoCheckBox {
width:292px;
background-color:#f9f9f9;
padding:10px;
}

.rodape {
    background-color: #006DCC;
    color:#000;
    font-weight:bold;
}
.btn {
    height:45px;
}


table {
    font-family: 'Arial';
    font-size: 16px;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #006DCC;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

    table tr:hover {
        background: #f4f4f4;
    }

        table tr:hover td {
            color: #555;
        }

tfoot tr:hover {
    color: #fff;
}

table th, table td {
    color: #000;
    border: 0px solid #eee;
    padding: 12px 25px;
    border-collapse: collapse;
    text-align:left;

}

table th {
    background: #006DCC;
    color: #fff;
    font-size: 16px;
}

    table th.last {
        border-right: none;
        color: #fff;
    }



table tr td {
    border-color: #fff;
    border-bottom-color: #999;
    border-right: none;
}

.fontFooter {
    color: #fff;
}


.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

    .close-icon:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #FA9595;
        z-index: 1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
    }

.search-box:not(:valid) ~ .close-icon {
    display: none;
}

.imgLimpar {
    margin-left:-30px;
    margin-top:67px; 
}
.voltar {
    background-color:#fff;
    color: #428bca;
}
