/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 


* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: #fff no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

.borda {
    padding:3px;
}

.espaco
{
    margin-bottom:15px;

}

.formulario {
	color: #5d5d5d;
	background: #f2f2f2;
    width:420px;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;    
}

.botaoVoltar
{
    display:block; 
    margin-left:-13px;
    padding: 5px 10px;
    text-decoration:none;
}

.botaoSalvar
{
    display:block; 
    margin-left:10px;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration:none;
}

.botaoFinalizar
{
    display:block; 
    margin-left:1px;
    padding: 5px 10px;
    text-decoration:none;
    margin-right:20px;

   
}

.cbxCliente {
    padding:20px;
    font-size:16px;
}

.cbxCliente > input {
    padding:8px;
    margin-right:10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.completionList {
border:solid 1px #444444;
margin:0px;
padding:2px;
height: 100px;
overflow:auto;
background-color: #FFFFFF;
font-size:16px;
border-bottom:solid 1px #000; 
}

.listItem {
color: #1C1C1C;
}

.itemHighlighted {
    background-color: #dbe5fc;
    cursor:pointer;
}
.semUnderline {
    text-decoration:none;
}

.form-group input[type="checkbox"] {
    display: none;

}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
    padding:4px;


}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;  
    padding:4px;

     
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    padding:7px;


}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.tamanhoCheckBox {
width:292px;
background-color:#f9f9f9;
padding:10px;
}